<!--
     ELEX: SpringBoot3.2 + Angular17.3 -> Paso7: Vista componente GENERAL
-->


<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
</style>

<header class="header m-4" *ngIf="!isLoginPage">
  <nav class="nav container d-flex justify-content-between">  
    <a routerLink="/">Volver al inicio</a>
    <a routerLink="/tipos-expediente">Ir a Tipos de Expediente</a>
    <a routerLink="/expedientes">Ir a listado de Expedientes</a>
    <span *ngIf="(loginService.userLoginOn | async); else loginLink">
      <button (click)="logout()">Cerrar Sesión</button>
    </span>
    <ng-template #loginLink>
      <a routerLink="/login">Iniciar Sesión</a>
    </ng-template>
  </nav>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<router-outlet />
