main{
    overflow-y: auto;
    margin-bottom: 300px;
}
form {
    margin: 20px;
}
.header{
    display: none;
}

footer {
    background-color: #102136;
    height: 300px;
}

.cabezales {
    color: white;
}

.enlaces-footer{
    color:white
}
.login-form {
    background-color: #f0f0f0; 
    padding: 20px;
    border-radius: 10px;
  }