
<main class="mx-auto container-fluid">
  <video  id="videoplayer" onloadedmetadata="this.muted=true" autoplay loop width="100%" height="900" >
    <source src="../assets/SOLTEL-VIDEO-ELEX-4.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <h3 class="text-center pt-5 fw-bold">Gestor Integral de Expedientes Jurídicos</h3>
  <section class="container d-flex flex-column justify-content-center align-items-center">
    <p class="col-md-6 pt-5">
      ELEX es el sistema de gestión integral de expedientes jurídicos de vanguardia para despachos de asistencia jurídica de entidades públicas y privadas.
    </p>
    <p class="col-md-6 ">
      Esta plataforma ofrece una interfaz intuitiva, compuesta por distintos módulos, que cumple con todas las normativas de seguridad y protección de datos, garantizando un desempeño optimizado de tus funciones.
    </p>
  </section>
 
</main>

<footer class="container-fluid d-flex flex-column justify-content-center align-items-center pt-4 fixed-bottom">
  <p class="text-white">Esta herramienta ha sido desarrollada por Soltel Group, en su división de LegalTech.</p>
  <div class="row pt-5 justify-content-center align-items-center">
    <div class="col-md-4 mb-4">
      <h5 class="cabezales fw-bold">Sobre nosotros</h5>
      <ul class="list-unstyled pt-2">
        <li><a class="enlaces-footer text-decoration-none" href="#">Sobre ELEX</a></li>
        <li><a class="enlaces-footer text-decoration-none" href="#">Nuestros Clientes</a></li>
        <li><a class="enlaces-footer text-decoration-none" href="#">Nuestros Partners</a></li>
        <li><a class="enlaces-footer text-decoration-none" href="#">Prueba eLex</a></li>
      </ul>
    </div>
    <div class="col-md-4 mb-4">
      <h5 class="cabezales fw-bold">Comunicación</h5>
      <ul class="list-unstyled pt-2">
        <li><a class="enlaces-footer text-decoration-none" href="#">Suscríbete a la Newsletter</a></li>
        <li><a class="enlaces-footer text-decoration-none" href="#">Contacto y sugerencias</a></li>
        <li><a class="enlaces-footer text-decoration-none" href="#">Prensa</a></li>
      </ul>
    </div>
    <div class="col-md-4 mb-4">
      <h5 class="cabezales fw-bold">Legal</h5>
      <ul class="list-unstyled pt-2">
        <li><a class="enlaces-footer text-decoration-none" href="#">Política de privacidad</a></li>
        <li><a class="enlaces-footer text-decoration-none" href="#">Política de cookies</a></li>
        <li><a class="enlaces-footer text-decoration-none" href="#">Aviso legal y términos de uso</a></li>
      </ul>
    </div>
  </div>
</footer>

